@model List<Reportingtool.Models.Db.VReportSummary>

@{
    // This is to prevent loading error for the next step as 'null' cannot be used as dictionary key
    foreach (var r in Model)
    {
        if (r.FaultType == null)
        {
            r.FaultType = "New Fault";
        }
    }

    var reportsByFault = Model
        .GroupBy(r => r.FaultType)
        .ToDictionary(grp => grp.Key, grp => grp.ToList());

    List<string> faultTypes = reportsByFault.Keys.ToList();

    Dictionary<int, string> badgeColor = new Dictionary<int, string>()
{
        {2, "default-color" },
        {3, "warning-color" },
        {4, "alert-color" },
        {5, "danger-color" },
    };



    if (faultTypes.Count > 0)
    {
        <input type="hidden" id="CheckPartialViewLoadedMachineTrainId" value="@(Model[0].MachineTrainId)">
    }

    foreach (var ft in faultTypes)
    {

        <li class="treeview-animated-items">
            <a class="closed">
                <i class="fas fa-angle-right mr-1"></i>
                <span><i class="fas fa-folder-open mr-2"></i>@ft</span>
            </a>
            <ul class="nested">
                @foreach (var r in reportsByFault[ft])
                {
                    <li class="treeview-animated-element reporttree" onclick="SetReportPreviewModal()" data-reportid="@r.ReportId" data-reporttype="@r.ReportType" data-condition="@r.Condition" data-reportdate=@r.ReportDate data-observations="@r.Observations" data-actions="@r.Actions" data-externalnotes="@r.ExternalNotes" data-notification="@r.NotificationNo" data-workorder="@r.WorkOrderNo" data-analystnotes="@r.AnalystNotes" data-toggle="modal" data-target="#modalViewReport">
                        <span class="badge @(badgeColor[(int)r.ConditionMagnitude]) mr-2">@r.ConditionMagnitude</span> @(((DateTime)r.ReportDate).ToString("dd-MM-yyyy")) - @r.PrimaryComponentType
                    </li>
                }
            </ul>
        </li>
    }

}

<!--- Report Preview -->
<div class="modal fade" id="modalViewReport" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modalViewReport">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Report Preview</h4>
                <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body-edit modal-body mx-3">
                <div class="md-form mb-5">
                    <span class="field-label">Report Type</span>
                    <span class="field-data" id="modalView_ReportType">
                    </span>
                </div>

                <div class="md-form mb-5">
                    <span class="field-label">Condition</span>
                    <span class="field-data" id="modalView_Condition">
                    </span>
                </div>

                <div class="md-form mb-5">
                    <span class="field-label">Report Date</span>
                    <span class="field-data" id="modalView_ReportDate">
                    </span>
                </div>

                <div class="md-form mb-5">
                    <span class="field-label">External Notes</span>
                    <span class="field-data" id="modalView_ExternalNotes">
                    </span>
                </div>

                <div class="md-form mb-5">
                    <span class="field-label">Analyst Notes</span>
                    <span class="field-data" id="modalView_AnalystNotes">
                    </span>
                </div>

                @*
        <div class="md-form mb-5">
            <span class="field-label">Observations</span>
            <span class="field-data" id="modalView_Observations">
            </span>
        </div>

        <div class="md-form mb-5">
            <span class="field-label">Actions</span>
            <span class="field-data" id="modalView_Actions">
            </span>
        </div>



        <div class="md-form mb-5">
            <span class="field-label">Notification</span>
            <span class="field-data" id="modalView_Notification">
            </span>
        </div>

        <div class="md-form mb-5">
            <span class="field-label">Work Order</span>
            <span class="field-data" id="modalView_WorkOrder">
            </span>
        </div>

                *@
            </div>



        </div>
    </div>
</div>
<!--- Report Preview -->