@page
@model Reportingtool.Pages.CreateReportsModel
@{
    ViewData["Title"] = "Create Reports";
}


<!--Main layout-->
<main>
    <div class="container">


        <hr class="my-5">

        <!--Section: Sched Maint Header-->
        <section class="mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <!-- Main heading -->
                    <h2 class=" mb-3">Create Reports</h2>
                    <p>
                        At auctor urna nunc id cursus metus aliquam. Aliquam ut porttitor leo a diam.
                        Arcu vitae elementum curabitur vitae nunc. In egestas erat imperdiet sed euismod nisi porta lorem mollis.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Faucibus vitae aliquet nec ullamcorper. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque.
                    </p>
                    <!-- Main heading -->

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-xl-5 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body">

                            <!-- Heading -->
                            <h4 class="text-muted text-center">
                                Controls
                            </h4>
                            <hr>
                            <h6 class="feature-title">At auctor urna nunc id cursus metus aliquam.</h6>
                            <p class="grey-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Faucibus vitae aliquet nec ullamcorper. Blandit volutpat maecenas volutpat blandit aliquam.
                            </p>

                            <div class="list-group  d-flex justify-content-center">
                                <!--- buttons and forms  -->
                                <div class="row d-flex justify-content-center modalWrapper">


                                    <div class="text-center">
                                        <button class="btn btn-danger btn-sm waves-effect waves-light" data-toggle="modal" data-target="#modalCloseRoutes">
                                            #### #### <i class="fas fa-times ml-1"></i>
                                        </button> <!-- when clicked, query: update Route_Call set Close_Date = SYSDATETIME() where RouteId in (<data-routeid1>, <data-routeid2>)  -->
                                    </div>


                                </div><!--- end pop up forms -->
                            </div>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->

        </section>
        <!--Section: Sched Maint Header-->

        <hr class="my-5">

        <!--Grid column-->
        <div class="col-md-12 mb-4">
            <h4 class="text-muted text-center">
                Select a Completed Route
            </h4>
            <!-- <hr>-->
            <!-- List group -->
            <div class="list-group py-3" id="myList" role="tablist">
                @for (int i = 0; i < Model.Completed_Route_Call.Count; ++i)
                {
                    var status_index = i > 0 ? 1 : 0;
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center @(Model.active_status_list[status_index])" data-toggle="list" href="#completedRoute@(i)" role="tab" aria-selected=@Model.aria_selected_status_list[status_index]>
                        @Model.Completed_Route_Call[i].Route.RouteDescription
                        <span class="badge mdb-color white-text badge-pill">@Model.Completed_Route_Call[i].Labour_Hours</span>
                    </a>
                }
            </div>

        </div>
        <!--Grid column-->
        <!--Section: Maintenance Table-->
        <section>
            <!--Grid row-->

            <div class="row wow fadeIn justify-content-center" style="visibility: visible; animation-name: fadeIn;">

                <!-- Tab panes -->
                <div class="tab-content col-md-12 py-2" id="machinesOnRoute">
                    @for (int i = 0; i < Model.Completed_Route_Call.Count; ++i)
                    {
                        var status_index = i > 0 ? 1 : 0;
                        <div class="tab-pane @(Model.active_status_list[status_index])" id="completedRoute@(i)" role="tabpanel">
                            <div class="table-responsive-md">
                                <table id="dtCompletedRoute@(i)" class="rt-table table table-striped table-bordered" cellspacing="0" width="100%">
                                    <caption class="text-center text-muted border border-bottom-0 border-light py-3 rgba-grey-slight">
                                        @Model.Completed_Route_Call[i].Route.RouteDescription
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th class="th-sm">Missed | No Action | Anomaly</th>
                                            <th class="th-sm">Machine Name</th>
                                            <th class="th-sm">Condition</th>
                                            <th class="th-sm">Reason</th>
                                            <th class="th-sm">Comments</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var mtrain in Model.Machine_List_Dict[Model.Completed_Route_Call[i].RouteId])
                                        {
                                            <tr>
                                                <td>
                                                    <div class="btn-group btn-group-lg" data-toggle="buttons">
                                                        <label class="rt-radio rt-radio-unique btn btn-sm form-check-label waves-effect waves-light active">
                                                            <input class="form-check-input" type="radio" name="mt548" id="mt548-missed" checked="">
                                                            <i class="fas fa-times-circle"></i>
                                                        </label>
                                                        <label class="rt-radio rt-radio-default btn btn-sm form-check-label waves-effect waves-light">
                                                            <input class="form-check-input" type="radio" name="mt548" id="mt548-good"> <i class="fas fa-check-circle"></i>
                                                        </label>
                                                        <label class="rt-radio rt-radio-amber btn btn-sm form-check-label waves-effect waves-light">
                                                            <input class="form-check-input" type="radio" name="mt548" id="mt548-anomaly"> <i class="fas fa-exclamation-triangle"></i>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <strong>@mtrain.Machine_Train</strong> <br> @mtrain.Machine_Train_Long_Name
                                                </td>
                                                <td>
                                                    @mtrain.Condition<br>
                                                    <small>	@mtrain.Change_In_Condition	</small>
                                                </td>
                                                <td>
                                                    <select class="custom-select custom-select-sm">
                                                        <option selected="">Select a Reason</option>
                                                        <option value="1">No Access</option>
                                                        <option value="2">Out of Service</option>
                                                        <option value="3">Not Running</option>
                                                    </select>
                                                </td>
                                                <td><input class="form-control form-control-sm" type="text" placeholder="Additional Comments"></td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="th-sm">Missed | No Action | Anomaly</th>
                                            <th class="th-sm">Machine Name</th>
                                            <th class="th-sm">Condition</th>
                                            <th class="th-sm">Reason</th>
                                            <th class="th-sm">Comments</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                    }




                </div>
                <!-- Tab panes -->
                <div class="py-3 col-md-12 ">
                    <button type="submit" class="btn btn-outline-primary waves-effect btn-block">Submit</button>
                </div>
            </div>
            <!-- Tab panes -->
        </section>
        <!--Section: Missed Machines -->
        <hr class="my-5">
    </div>
</main>