@page
@model Reportingtool.Pages.ScheduleMaintenanceModel

@{
    ViewData["Title"] = Model.Current_User + " - Schedule Maintenance";
}


@section Style{
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
}

<!--Main layout-->
<main>
    <div class="container">

        <hr class="my-5">
        <!--Section: Sched Maint Header-->
        <section class="mt-5 wow fadeIn">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-7 mb-2">

                    <!-- Main heading -->
                    <h2 class=" mb-3">Schedule Measurement Routes</h2>
                    <p>
                        Start by selecting a time range on the right. <br />These weeks are classified from Wednesday to Wednesday.
                    </p>
                    <p>
                        <i class="fas fa-edit rt-text-icon" style="color: #59698d;"></i> Modify schedule dates to move routes from week to week<br />
                        <i class="far fa-list-alt rt-text-icon" style="color: #880e4f;"></i> View machines on route and their most recent condition<br />
                        <i class="fas fa-clipboard-check rt-text-icon" style="color: #2bbbad;"></i> Check off routes and <a href="#submitRoutes">submit to remove from the list</a>
                    </p>

                    <!-- Main heading -->

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-5 col-xl-5 mb-2">
                    <!-- List group -->
                    <div class="list-group py-3" id="myList" role="tablist">
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active"
                           data-toggle="list" href="#customdaterange" role="tab">
                            Custom Date Range
                            <span class="badge mdb-color white-text badge-pill">@Model.WeekHourList[1] h</span>
                        </a>
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                           data-toggle="list" href="#lastWeek" role="tab">
                            Last Week
                            <span class="badge mdb-color white-text badge-pill">@Model.WeekHourList[0] h</span>
                        </a>
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                           data-toggle="list" href="#currentWeek" role="tab">
                            Current Week
                            <span class="badge mdb-color white-text badge-pill">@Model.WeekHourList[1] h</span>
                        </a>
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                           data-toggle="list" href="#nextWeek" role="tab">
                            Next Week
                            <span class="badge mdb-color white-text badge-pill">@Model.WeekHourList[2] h</span>
                        </a>
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                           data-toggle="list" href="#weekAfterNext" role="tab">
                            Week After Next
                            <span class="badge mdb-color white-text badge-pill">@Model.WeekHourList[3] h</span>
                        </a>
                    </div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </section>
        <!--/.Section: Sched Maint Header-->



        <!-- Pop up modals -->
        <div class="row d-flex justify-content-center modalWrapper">
            <!--- Edit Route -->
            <div class="modal fade modalEditClass" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modalEdit">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Edit Route</h4>
                            <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body-edit modal-body mx-3">
                            <form method="post" asp-page-handler="editroutecall" id="editroutecall">
                                <input type="hidden" asp-for="Edit_Route_Call.PkCallId" id="formEditCallId" readonly />
                                <div class="md-form mb-5">
                                    <span class="field-label">Route</span>
                                    <span class="field-data">
                                        <input class="field-data" id="formEditRoute" name="formEditRoute" readonly />
                                    </span>
                                </div>

                                <div class="md-form mb-5">
                                    <span class="field-label">Cycle (days)</span>
                                    <span class="field-data">
                                        <input class="field-data" id="formEditCycle" readonly />
                                    </span>
                                </div>

                                <div class="md-form mb-5">
                                    <span class="field-label">Labour Hours</span>
                                    <span class="field-data">
                                        <input class="field-data" id="formEditLabourHours" readonly />
                                    </span>
                                </div>

                                <div class="md-form mb-5">
                                    <span class="field-label">Plan Date</span>
                                    <span class="field-data">
                                        <input class="field-data" id="formEditPlannedDate" readonly />
                                    </span>
                                </div>

                                <div class="md-form mb-5">
                                    <input type="date" id="formEditScheduleDate" class="form-control validate" asp-for="Edit_Route_Call.ScheduleDate" />
                                    <label data-error="wrong" data-success="right" for="formEditScheduleDate">Schedule Date</label>
                                </div>

                                <div class="modal-footer d-flex justify-content-center editInsideWrapper">
                                    <button type="submit" class="btn btn-outline-secondary btn-block editInside editroutecallsubmit" data-dismiss="modal">
                                        Edit form
                                        <i class="fas fa-paper-plane-o ml-1"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!---/. Edit Route -->

            @foreach (var mtraininfo in Model.Machine_List_Dict)
            {
                <!-- Machine list-->
                <div class="modal fade" id="modalMachineList@(mtraininfo.Key)" tabindex="-1" role="dialog" aria-labelledby="modalMachineList@(mtraininfo.Key)"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger">Machines</h4>
                                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <table id="dtMachinesList" class="rt-table route-table table table-striped table-bordered table-top-margin" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-sm">Machine Train </th>
                                            <th class="th-sm">Lasted Measured</th>
                                            <th class="th-sm">Condition</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var mtrain in mtraininfo.Value)
                                        {
                                            string last_measured_time = mtrain.MeasurementDate.HasValue ? mtrain.MeasurementDate.Value.ToString("dd/MM/yyyy") : "";
                                            <tr>
                                                <td>	@mtrain.MachineTrain	<br>	@mtrain.MachineTrainLongName	</td>
                                                <td>	@last_measured_time	</td>
                                                <td>	@mtrain.Condition	<small> @mtrain.ChangeInCondition</small></td>
                                            </tr>

                                        }
                                    </tbody>

                                </table>

                            </div>
                            <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
                                <button type="button" class="btn btn-info btnYesClass" id="btnYes" data-dismiss="modal">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--- /. machines list -->


            }

            <div class="modal fade" id="modalCloseRoutes" tabindex="-1" role="dialog" aria-labelledby="modalCloseRoutes"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger">Complete Routes</h4>
                            <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <p class="text-center">
                                Are you sure you want to complete these routes?  <br />
                                These routes will be removed from the displayed schedule.
                            </p>

                        </div>
                        <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
                            <form method="post" asp-page-handler="completeroute" id="completeroute">
                                <button type="button" class="btn btn-danger btnYesClass btnYesCompleteRoute" data-dismiss="modal">Yes</button>
                            </form>
                            <button type="button" class="btn btn-primary btnNoClass" id="btnNo" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.Pop up modals -->


        <hr class="mb-3">

        <div class="col-md-4">
            <label for="time_select">Select datetime range</label>
            <input type="text" name="time_select" class="form-control" />
            <button class="btn btn-primary btn-sm" type="button" onclick="getCustomList()">Apply</button>
        </div>

        
        

        <!--Section: Maintenance Table-->
        <section>
            <!--Grid row-->

            <div class="row wow fadeIn justify-content-center">

                <!-- Tab panes -->
                <div class="tab-content col-md-12 py-2">
                    <div class="tab-pane" id="customdaterange" role="tabpanel">
                        <div class="table-responsive-md">
                            <table id="dtLastWeek" class="rt-table route-table table table-striped table-bordered table-top-margin align-middle" cellspacing="0" width="100%">
                                <caption class="text-center text-muted border border-bottom-0 border-light py-3 rgba-grey-slight">
                                    Custom Date Range - @Model.WeekHourList[0] Hours Scheduled
                                </caption>
                                <thead>

                                    <tr>
                                        <th class="th-sm">Route Name</th>
                                        <th class="th-sm">Cycle (days)</th>
                                        <th class="th-sm"># Machines</th>
                                        <th class="th-sm">Labour Hours</th>
                                        <th class="th-sm">Plan Date</th>
                                        <th class="th-sm">Sched. Date</th>
                                        <th class="th-sm">Edit | View | Close</th>
                                    </tr>
                                </thead>
                                <tbody id="customlist">
                                    @foreach (var item in Model.Route_Call_Week_List[0])
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Route.Route1)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Route.CycleDays)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Route.Machine_Train_List.Count)</td>
                                        <td>@Html.DisplayFor(modelItem => item.LabourHours)</td>
                                        <td>@item.PlanDate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.ScheduleDate.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <div class="btn-group btn-group-lg" role="group">
                                                <button type="button" class="btn btn-mdb-color btn-sm btn-editform" data-callid=@item.PkCallId data-route="@item.Route.Route1" data-cycledays=@item.Route.CycleDays data-labourhours=@item.LabourHours data-plandate=@item.PlanDate data-scheduledate=@item.ScheduleDate data-toggle="modal" data-target="#modalEdit">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button type="submit" class="btn btn-unique btn-sm" data-routeid=@item.FkRouteId data-toggle="modal" data-target="#modalMachineList@(item.FkRouteId)">
                                                    <i class="far fa-list-alt"></i>
                                                </button>

                                                <label class="rt-check btn form-check-label btn-sm" data-toggle="buttons">
                                                    <input class="form-check-input" type="checkbox" autocomplete="off" name="AreChecked" value="@item.PkCallId" form="completeroute">
                                                    <i class="fas fa-clipboard-check"></i>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="th-sm">Route Name</th>
                                        <th class="th-sm">Cycle (days)</th>
                                        <th class="th-sm"># Machines</th>
                                        <th class="th-sm">Labour Hours</th>
                                        <th class="th-sm">Plan Date</th>
                                        <th class="th-sm">Sched. Date</th>
                                        <th class="th-sm">Edit | View | Close</i></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane" id="lastWeek" role="tabpanel">
                        <div class="table-responsive-md">
                            <table id="dtLastWeek" class="rt-table route-table table table-striped table-bordered table-top-margin align-middle" cellspacing="0" width="100%">
                                <caption class="text-center text-muted border border-bottom-0 border-light py-3 rgba-grey-slight">
                                    Last Week - @Model.WeekHourList[0] Hours Scheduled
                                </caption>
                                <thead>

                                    <tr>
                                        <th class="th-sm">Route Name</th>
                                        <th class="th-sm">Cycle (days)</th>
                                        <th class="th-sm"># Machines</th>
                                        <th class="th-sm">Labour Hours</th>
                                        <th class="th-sm">Plan Date</th>
                                        <th class="th-sm">Sched. Date</th>
                                        <th class="th-sm">Edit | View | Close</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Route_Call_Week_List[0])
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Route.Route1)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Route.CycleDays)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Route.Machine_Train_List.Count)</td>
                                        <td>@Html.DisplayFor(modelItem => item.LabourHours)</td>
                                        <td>@item.PlanDate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.ScheduleDate.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <div class="btn-group btn-group-lg" role="group">
                                                <button type="button" class="btn btn-mdb-color btn-sm btn-editform" data-callid=@item.PkCallId data-route="@item.Route.Route1" data-cycledays=@item.Route.CycleDays data-labourhours=@item.LabourHours data-plandate=@item.PlanDate data-scheduledate=@item.ScheduleDate data-toggle="modal" data-target="#modalEdit">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button type="submit" class="btn btn-unique btn-sm" data-routeid=@item.FkRouteId data-toggle="modal" data-target="#modalMachineList@(item.FkRouteId)">
                                                    <i class="far fa-list-alt"></i>
                                                </button>

                                                <label class="rt-check btn form-check-label btn-sm" data-toggle="buttons">
                                                    <input class="form-check-input" type="checkbox" autocomplete="off" name="AreChecked" value="@item.PkCallId" form="completeroute">
                                                    <i class="fas fa-clipboard-check"></i>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="th-sm">Route Name</th>
                                        <th class="th-sm">Cycle (days)</th>
                                        <th class="th-sm"># Machines</th>
                                        <th class="th-sm">Labour Hours</th>
                                        <th class="th-sm">Plan Date</th>
                                        <th class="th-sm">Sched. Date</th>
                                        <th class="th-sm">Edit | View | Close</i></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane active" id="currentWeek" role="tabpanel">
                        <table id="dtThisWeek" class="rt-table route-table table table-striped table-bordered table-top-margin" cellspacing="0" width="100%">
                            <caption class="text-center text-muted border border-bottom-0 border-light py-3 rgba-grey-slight">
                                This Week - @Model.WeekHourList[1] Hours Scheduled
                            </caption>
                            <thead>
                                <tr>
                                    <th class="th-sm">Route Name</th>
                                    <th class="th-sm">Cycle (days)</th>
                                    <th class="th-sm"># Machines</th>
                                    <th class="th-sm">Labour Hours</th>
                                    <th class="th-sm">Plan Date</th>
                                    <th class="th-sm">Sched. Date</th>
                                    <th class="th-sm">Edit | View | Close</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Route_Call_Week_List[1])
                                {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Route.Route1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Route.CycleDays)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Route.Machine_Train_List.Count)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LabourHours)</td>
                                    <td>@item.PlanDate.ToString("dd/MM/yyyy")</td>
                                    <td>@item.ScheduleDate.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        <div class="btn-group btn-group-lg" role="group">

                                            <button type="button" class="btn btn-mdb-color btn-sm btn-editform" data-callid=@item.PkCallId data-route="@item.Route.Route1" data-cycledays=@item.Route.CycleDays data-labourhours=@item.LabourHours data-plandate=@item.PlanDate data-scheduledate=@item.ScheduleDate data-toggle="modal" data-target="#modalEdit">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-unique btn-sm" data-routeid=@item.FkRouteId data-toggle="modal" data-target="#modalMachineList@(item.FkRouteId)">
                                                <i class="far fa-list-alt"></i>
                                            </button>
                                            <label class="rt-check btn form-check-label btn-sm" data-toggle="buttons">
                                                <input class="form-check-input" type="checkbox" autocomplete="off" name="AreChecked" value="@item.PkCallId" form="completeroute">
                                                <i class="fas fa-clipboard-check"></i>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="th-sm">Route Name</th>
                                    <th class="th-sm">Cycle (days)</th>
                                    <th class="th-sm"># Machines</th>
                                    <th class="th-sm">Labour Hours</th>
                                    <th class="th-sm">Plan Date</th>
                                    <th class="th-sm">Sched. Date</th>
                                    <th class="th-sm">Edit | View | Close</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="tab-pane" id="nextWeek" role="tabpanel">
                        <table id="dtNextWeek" class="rt-table route-table table table-striped table-bordered table-top-margin " cellspacing="0" width="100%">
                            <caption class="text-center text-muted border border-bottom-0 border-light py-3 rgba-grey-slight">
                                Next Week - @Model.WeekHourList[2] Hours Scheduled

                            </caption>
                            <thead>
                                <tr>
                                    <th class="th-sm">Route Name</th>
                                    <th class="th-sm">Cycle (days)</th>
                                    <th class="th-sm"># Machines</th>
                                    <th class="th-sm">Labour Hours</th>
                                    <th class="th-sm">Plan Date</th>
                                    <th class="th-sm">Sched. Date</th>
                                    <th class="th-sm">Edit | View | Close</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Route_Call_Week_List[2])
                                {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Route.Route1)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Route.CycleDays)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Route.Machine_Train_List.Count)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LabourHours)</td>
                                    <td>@item.PlanDate.ToString("dd/MM/yyyy")</td>
                                    <td>@item.ScheduleDate.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        <div class="btn-group btn-group-lg" role="group">
                                            <button type="button" class="btn btn-mdb-color btn-sm btn-editform" data-callid=@item.PkCallId data-route="@item.Route.Route1" data-cycledays=@item.Route.CycleDays data-labourhours=@item.LabourHours data-plandate=@item.PlanDate data-scheduledate=@item.ScheduleDate data-toggle="modal" data-target="#modalEdit">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-unique btn-sm" data-routeid=@item.FkRouteId data-toggle="modal" data-target="#modalMachineList@(item.FkRouteId)">
                                                <i class="far fa-list-alt"></i>
                                            </button>
                                            <label class="rt-check btn form-check-label btn-sm" data-toggle="buttons">
                                                <input class="form-check-input" type="checkbox" autocomplete="off" name="AreChecked" value="@item.PkCallId" form="completeroute">
                                                <i class="fas fa-clipboard-check"></i>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="th-sm">Route Name</th>
                                    <th class="th-sm">Cycle (days)</th>
                                    <th class="th-sm"># Machines</th>
                                    <th class="th-sm">Labour Hours</th>
                                    <th class="th-sm">Plan Date</th>
                                    <th class="th-sm">Sched. Date</th>
                                    <th class="th-sm">Edit | View | Close</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="tab-pane" id="weekAfterNext" role="tabpanel">
                        <table id="dtWeekAfterNext" class="rt-table route-table table table-striped table-bordered table-top-margin" cellspacing="0" width="100%">
                            <caption class="text-center text-muted border border-bottom-0 border-light py-3 rgba-grey-slight">
                                Week After Next - @Model.WeekHourList[3] Hours Scheduled
                            </caption>
                            <thead>
                                <tr>
                                    <th class="th-sm">Route Name</th>
                                    <th class="th-sm">Cycle (days)</th>
                                    <th class="th-sm"># Machines</th>
                                    <th class="th-sm">Labour Hours</th>
                                    <th class="th-sm">Plan Date</th>
                                    <th class="th-sm">Sched. Date</th>
                                    <th class="th-sm">Edit | View | Close</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Route_Call_Week_List[3])
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Route.Route1)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Route.CycleDays)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Route.Machine_Train_List.Count)</td>
                                        <td>@Html.DisplayFor(modelItem => item.LabourHours)</td>
                                        <td>@item.PlanDate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.ScheduleDate.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <div class="btn-group btn-group-lg" role="group">
                                                <button type="button" class="btn btn-mdb-color btn-sm btn-editform" data-callid=@item.PkCallId data-route="@item.Route.Route1" data-cycledays=@item.Route.CycleDays data-labourhours=@item.LabourHours data-plandate=@item.PlanDate data-scheduledate=@item.ScheduleDate data-toggle="modal" data-target="#modalEdit">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-unique btn-sm" data-routeid=@item.FkRouteId data-toggle="modal" data-target="#modalMachineList@(item.FkRouteId)">
                                                    <i class="far fa-list-alt"></i>
                                                </button>
                                                <label class="rt-check btn form-check-label btn-sm" data-toggle="buttons">
                                                    <input class="form-check-input" type="checkbox" autocomplete="off" name="AreChecked" value="@item.PkCallId" form="completeroute">
                                                    <i class="fas fa-clipboard-check"></i>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="th-sm">Route Name</th>
                                    <th class="th-sm">Cycle (days)</th>
                                    <th class="th-sm"># Machines</th>
                                    <th class="th-sm">Labour Hours</th>
                                    <th class="th-sm">Plan Date</th>
                                    <th class="th-sm">Sched. Date</th>
                                    <th class="th-sm">Edit | View | Close</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <!-- Tab panes -->
                <div class="py-3 col-md-12" id="submitRoutes">
                    <button type="submit" class="btn btn-outline-default waves-effect btn-block" data-toggle="modal" data-target="#modalCloseRoutes">Complete Routes</button>
                </div>
            </div>
        </section>
        <!--Section: Maintenance Table-->
    </div>
</main>

@section Scripts{


<script>
    function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }

    function getCustomList() {

    var startDate = $('input[name="time_select"]').data('daterangepicker').startDate._d.toISOString();
    alert(startDate);

        
    $.ajax({
        
        contentType: 'application/json; charset=utf-8',
        url: '/ScheduleMaintenance?handler=routelist',
        type: 'Post',
        data: JSON.stringify({ start_date: startDate, __RequestVerificationToken: gettoken() }),
        success: function (data) {
            alert("Request Successful " + data);
        },
        error: function () {
            alert("Request Failed");
        }
        
    })
    }


</script>
    



    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>
        $(function () {
            $('input[name="time_select"]').daterangepicker({
                timePicker: true,
                timePicker24Hour: true,
                startDate: moment().startOf('hour').add(-24, 'hour'),
                endDate: moment().startOf('hour'),
                locale: {
                    format: 'YYYY/MM/DD'
                }
            });
        });
    </script>

    <script>
        // Pass the route call information to the edit modal
        $(document).on("click", ".btn-editform", function () {
            var callid = $(this).data('callid');
            var route = $(this).data('route');
            var cycledays = $(this).data('cycledays');
            var labourhours = $(this).data('labourhours');
            var plandate = $(this).data('plandate');

            $(".modal-body-edit #formEditCallId").val(callid);
            $(".modal-body-edit #formEditRoute").val(route);
            $(".modal-body-edit #formEditCycle").val(cycledays);
            $(".modal-body-edit #formEditLabourHours").val(labourhours);
            $(".modal-body-edit #formEditPlannedDate").val(plandate);
        });
        //---------------------------Edit Route Call ---------------------------//
        $(function () {
            $(document).on("click", ".editroutecallsubmit", function () {
                //alert("submitting form");
                $('#editroutecall').submit();
            });
        });
        //---------------------------Edit Route Call ---------------------------//

        //---------------------------Complete Route ---------------------------//
        $(function () {
            $(document).on("click", ".btnYesCompleteRoute", function () {
                $('#completeroute').submit();
            });
        });
            //---------------------------Complete Route ---------------------------//

    </script>
}